<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.assign5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="StartActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="AutomobileActivity"
            android:label="@string/title_activity_automobile" />
        <activity
            android:name=".ActivityTrackingActivity"
            android:label="@string/title_activity_tracking"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".ActivityTrackingAddActivity"
            android:label="@string/t_new_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityTrackingEditActivity"
            android:screenOrientation="portrait" />
        <activity android:name="AutoHistoryActivity" />
        <activity android:name="AutoSummaryActivity" />
        <activity android:name="AutoDetailActivity" />
        <activity
            android:name="HouseActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name="trackingHouseActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name="HouseDetailActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity android:name="f_activity"
            android:label="@string/title_activity_food"/>
        <activity android:name="F_NewEntryActivity" />
        <activity android:name="F_historyActivity" />
        <activity android:name="F_DetailActivity" />
    </application>

</manifest>